<div id="chat_scene">
    <div class="container">
        <div class="chat-body">

            <!-- Chat Header Start-->
            <div class="chat-header">
                <!-- Chat Back Button (Visible only in Small Devices) -->
                <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                    </svg>

                    <!-- Alternate :: External File link -->
                    <!-- <img class="injectable hw-20" src=".//static/assets/assets/media/heroicons/outline/arrow-left.svg" alt=""> -->
                </button>

                <!-- Chat participant's Name -->
                <div class="media chat-name align-items-center text-truncate">
                    <div class="avatar avatar-online d-none d-sm-inline-block mr-3">
                        <img src="{{photo_link}}" alt="">
                    </div>

                    <div class="media-body align-self-center ">
                        <h6 class="text-truncate mb-0">{{fullName.title()}}</h6>
                        <small class="text-muted">Online</small>
                    </div>
                </div>

                <!-- Chat Options -->
                <ul class="nav flex-nowrap">
                    <li class="nav-item list-inline-item d-none d-sm-block mr-1">
                        <a class="nav-link text-muted px-1" data-toggle="collapse" data-target="#searchCollapse" href="#" aria-expanded="false">
                            <!-- Default :: Inline SVG -->
                            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>

                            <!-- Alternate :: External File link -->
                            <!-- <img src=".//static/assets/assets/media/heroicons/outline/search.svg" alt="" class="injectable hw-20"> -->
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Chat Header End-->

            <!-- Search Start -->
            <div class="collapse border-bottom px-3" id="searchCollapse">
                <div class="container-xl py-2 px-0 px-md-3">
                    <div class="input-group bg-light ">
                        <input type="text" class="form-control form-control-md border-right-0 transparent-bg pr-0" placeholder="Search">
                        <div class="input-group-append">
                            <span class="input-group-text transparent-bg border-left-0">
                                <!-- Default :: Inline SVG -->
                                <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                </svg>
                                  
                                <!-- Alternate :: External File link -->
                                <!-- <img class="injectable hw-20" src=".//static/assets/assets/media/heroicons/outline/search.svg" alt="Search icon"> -->
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Search End -->

            <!-- Chat Content Start-->
            <div class="chat-content p-2" id="messageBody">
                <div class="container" id="chatMessageBody">
                    <!-- Check for timing can be placed here, to divide messages into days -->
                    <!-- Message Day Start -->
                    {% for user_chat in chats %}
                        {% if user_chat['type']=="user" %}
                            <!-- Self Message Start -->
                            <div class="message self">
                                <div class="message-wrapper">
                                    <div class="message-content"><span>{{ user_chat['text'] }}</span></div>
                                </div>
                                <div class="message-options">
                                    <div class="avatar avatar-sm"><img alt="" src="{{photo_link}}"></div>

                                    <span class="message-date">{{ user_chat['timestamp'] }}</span>

                                    <div class="dropdown">
                                        <a class="text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg class="hw-18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
                                            </svg>
                                        </a>
    
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                                                </svg>
                                                <span>Copy</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                                </svg>
                                            <span>Edit</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                                                </svg>
                                                <span>Replay</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 rotate-y mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                                                </svg>
                                                <span>Forward</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                </svg>
                                                <span>Favourite</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center text-danger" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                                </svg>
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Self Message End -->
                        {% else %}
                            <!-- Received Message Start -->
                            <div class="message">
                                <div class="message-wrapper">
                                    <div class="message-content">
                                        <span>{{ user_chat['text'] }}</span>
                                    </div>
                                </div>
                                <div class="message-options">
                                    <div class="avatar avatar-sm"><img alt="" src="{{ chat_photo_link }}"></div>
                                    <span class="message-date">{{ user_chat['timestamp'] }}</span>
                                    <div class="dropdown">
                                        <a class="text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg class="hw-18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
                                            </svg>
                                        </a>
    
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                                                </svg>
                                                <span>Copy</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                                                </svg>
                                                <span>Replay</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 rotate-y mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                                                </svg>
                                                <span>Forward</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                </svg>
                                                <span>Favourite</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center text-danger" href="#">
                                                <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                                </svg>
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Received Message End -->
                        {% endif %}
                    {% endfor %} 
                    <!-- Message Day End -->
                </div>

                <!-- Scroll to finish -->
                <div class="chat-finished" id="chat-finished"></div>
            </div>
            <!-- Chat Content End-->

            <!-- Chat Footer Start-->
            <div class="chat-footer">
                <div class="attachment">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-icon btn-minimal btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                              
                            <!-- <img class="injectable hw-20" src=".//static/assets/assets/media/heroicons/outline/plus-circle.svg" alt=""> -->
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                </svg>
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/photograph.svg" alt=""> -->
                                <span>Gallery</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
                                </svg>
                                  
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/volume-up.svg" alt=""> -->
                                <span>Audio</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                                </svg>
                                  
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/document.svg" alt=""> -->
                                <span>Document</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                                </svg>
                                  
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/user.svg" alt=""> -->
                                <span>Contact</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                                </svg>
                                  
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/location-marker.svg" alt=""> -->
                                <span>Location</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                </svg>
                                  
                                <!-- <img class="injectable hw-20 mr-2" src=".//static/assets/assets/media/heroicons/outline/chart-square-bar.svg" alt=""> -->
                                <span>Poll</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <textarea class="form-control emojionearea-form-control" id="messageInput" rows="1" autocapitalize="on" placeholder="Type your message here..."></textarea>
                <div id="submit_button" class="btn btn-primary btn-icon send-icon rounded-circle text-light mb-1" role="button">
                    <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                    </svg>
                    <!-- <img src=".//static/assets/assets/media/heroicons/outline/arrow-right.svg" alt="" class="injectable"> -->
                </div>
            </div>
            <!-- Chat Footer End-->
        </div>
    </div>
</div>