<form id="search" method="POST" enctype="multipart/form-data">
    <div class="row row-cols-7">
        <div class="col-sm-auto" style="padding: 0.75rem 1rem 0 1rem;">
            <div class="form-group">
                <p>Search By :</p>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" name="username" class="form-control" id="username"
                    placeholder="Username ...">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" name="contact_no" class="form-control" id="contact_no"
                    placeholder="Contact No ...">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="email" name="email" class="form-control" id="email"
                    placeholder="Email ...">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" inputmode="numeric" name="id" class="form-control" id="department"
                    placeholder="ID ...">
            </div>
        </div>
        <div class="col">
            <div class="search-student-btn">
                <button id="searchButton" type="btn" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div class="col" id="delete_main_button" style="display: flex; justify-content: center;">
            <div class="search-student-btn">
                <button id="openButton" type="btn" class="btn btn-danger" style="height: 2.8rem; width: 8rem;">
                    <i class="fa-solid fa-trash"></i>  Delete All
                </button>
            </div>
        </div>
        <style>
            #popupContainer {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            #popup {
                background-color: white;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            #buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            #popup h2,
            #popup #delete_all_button #closeButton {
                margin: 5px 0;
            }
        </style>
        <div class="popup-container" id="popupContainer">
            <div class="popup" id="popup">
               <h2>Delete all records!</h2>
               <div id="buttons">
                  <a id="delete_all_button" class="btn btn-danger">Confirm</a>
                  <button id="closeButton" type="btn" class="btn btn-primary">Go back</button>
               </div>
            </div>
        </div>
    </div>
</form>
<script>
    console.log('Going into this function');
    // Define the search_id object
    search_id = {"student" : ["username", "contact_no", "email", "department"],
            "admin" : ["username", "contact_no", "email"],
            "teacher" : ["username", "contact_no", "email", "department"],
            "department" : ["department_name", "HOD_name"],
            "subject" : ["department_name", "subject_name"],
            "class" : ["student_id", "department", "class_name"],
            "events" : ["event_name", "event_date", "classes"]};

    // Get all the input tags using their ids
    const id = document.getElementById("department");
    const username = document.getElementById("username");
    const contact_no = document.getElementById("contact_no");
    const email = document.getElementById("email");

    // Store above four buttons into an input_tags array
    const input_tags = [id, username, contact_no, email];

    // Go to search page
    var panel = sessionStorage.getItem("panel");

    // Get the search button
    const searchButton = document.getElementById("searchButton");

    // Get the open button and popup container
    const openButton = document.getElementById("openButton");
    // Get the popup container
    const popupContainer = document.getElementById("popupContainer");

    // Get the close button
    const closeButton = document.getElementById("closeButton");
    // Get the delete_all_button
    const deleteAllButton = document.getElementById("delete_all_button");

    const deleteMainButton = document.getElementById("delete_main_button");

    // Get the delete_main_button

    // Function to open the popup
    function openPopup() {
        console.log("Opening popup");
        // Make the background screen semi-transparent
        event.preventDefault();
        popupContainer.style.display = "flex";
    }

    // Function to close the popup
    function closePopup() {
        console.log("Closing popup");
        // Hide the popup
        event.preventDefault();
        popupContainer.style.display = "none";
    }

    // Add event listener to the delete_all_button
    document.getElementById("delete_all_button").addEventListener("click", function(event) {
        // Set the href attribute to the Flask endpoint
        a_href_name = "/admin/deleteall/" + panel;
        this.href = a_href_name;
    });

    // Add event listeners to the open and close buttons
    openButton.addEventListener("click", openPopup);
    closeButton.addEventListener("click", closePopup);

    // Function to check if any input field is empty
    function checkInputData() {
      for (let i = 0; i < input_tags.length; i++) {
        if (input_tags[i].value !== '') {
          return true;
        }
      }

      return false;
    }

    // Function to submit the form
    function submitForm() {
      const hasInputData = checkInputData();
      const form = document.getElementById('search');

      if (hasInputData) {
        console.log('Going to submit form');
        form.action = "/search_data/" + panel;
        form.submit();
      } else {
        alert('Please input a search value.');
      }
    }

    // Add eventlistener to button with id searchButton, where once clicked it will add action to form with id search
    searchButton.addEventListener("click", submitForm);

    // Set the placeholder text for the search input
    id.placeholder = search_id[panel][0];
    if (panel in search_id) {
        for (values in search_id[panel]) {
            
        }
        username.placeholder = search_id[panel][1];
        contact_no.style.visibility = "hidden";
        email.style.visibility = "hidden";
        // Hide the delete_main_button
        deleteMainButton.style.display = "none";
    }
    else {
        console.log("Going as usual");
    }
</script>